// Fonts
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700');

@import '/resources/css/app.css';
// Bootstrap
@import 'bootstrap/scss/bootstrap';

body {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
}
.navbar-laravel {
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover { background-color: #f1f1f1; }

/* Styl pokazujący menu po najechaniu */
.dropdown:hover .dropdown-content {
    display: block;
}
