.image{
    max-width: 100%;
}

.small-primary-btn{
    display: flex;
    align-items: center;
}

.post.open{
    padding: 1.6rem;
    background: #000000eb;
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
}

.post{
    display: none;
}

.post-close{
position: absolute;
top: 5px;
right: 5px;
color: white;
text-decoration: none;
}

.comment{
    border-top: 2px solid;
}

.b-eeeeee{
    background: #eeeeee;
}
